.search-form{
    width: 100%;
    padding: 1rem 0;
    background-color: #FFF;
    border-bottom: solid 1px grey;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 56px;
    left: 0;
    z-index: 1;
}

input{
    margin-right: 1rem;
}

.search-result{
    width: 100%;
    margin-top: calc( 112px + 2rem );
}

#book-main-information{
    display: flex;
    margin-bottom: 2rem;;
}

img{
    margin-right: 1rem;
}

#book-description{
    width: 100%;
}

button{
    margin-right: 1rem;
}

.alert{
    margin: 1rem 0;
}
