.loan-status{
    width: 15px;
    height: 15px;
}

.item-inline{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-inline:hover > .details{
    display: block;
}

.title-and-status{
    display: flex;
    align-items: center;
}

h5{
    margin: 0;
}

.details{
    display: none;
}