<div class="sign-card">

    <!-- Sign up  -->
    <div class="sign-up-card card bg-light p-5" 
    *ngIf = "sign === 'up'">
        <h1 class="mb-5">Créer un compte</h1>

        <form 
        (ngSubmit) = "onSignUpSubmit(signUp)" 
        #signUp="ngForm"
        class="card-body" >
            <div class="form-group">
                <input 
                type="email" 
                name="user_email" 
                class="form-control mb-3" 
                placeholder="Email" 
                ngModel>

                <input 
                type="password" 
                name="user_password" 
                class="form-control mb-3" 
                placeholder = "Mode passe" 
                ngModel>

                <button 
                type="submit" 
                class="btn btn-primary">
                    <span 
                    class="spinner-border spinner-border-sm mr-3" 
                    role="status" 
                    aria-hidden="true" 
                    *ngIf = "spinner">
                    </span>
                    Valider
                </button>
            </div>
        </form>

        <!-- To sign-in form button -->
        <button 
        type="button" 
        class="btn btn-link" 
        (click) = "handleSign()">
            J'ai déjà un compte
        </button>

    </div>

    <!-- Error message -->
    <p class="alert alert-danger error-message" 
    *ngIf = "error_message !== undefined">
        {{ error_message }}
    </p>

    <!-- Sign in -->
    <div class="sign-in-card card bg-light p-5" *ngIf = "sign === 'in'">
        <h1 class="mb-5">Connexion</h1>

        <form (ngSubmit) = "onSignInSubmit(signIn)" #signIn="ngForm" >
            <div class="form-group">
                <input 
                    type="email" 
                    name="user_email" 
                    class="form-control mb-3" 
                    placeholder="Email" 
                    ngModel>
                <input 
                    type="password" 
                    name="user_password" 
                    class="form-control mb-3" 
                    placeholder="Mot de passe" 
                    ngModel>
                <button 
                type="submit" 
                class="btn btn-primary">
                    <span 
                    class="spinner-border spinner-border-sm mr-3" 
                    role="status" 
                    aria-hidden="true" 
                    *ngIf = "spinner">
                    </span>
                    Valider
                </button>
            </div>
        </form>

        <!-- To sign-up form button -->
        <button 
        type="button" 
        class="btn btn-link" 
        (click) = "handleSign()">
            Je n'ai pas de compte
        </button>

    </div>
</div>




