<div class="row">
    <img src="{{ book.cover_link }}" alt="Couverture du livre" class="m-3">
    <div>
        <h1>{{ book.title }}</h1>
        <p>{{ book.authors }}</p>
        <p>{{ book.publisher}} - {{ book.published_date | date: 'mediumDate' }}</p>
        <p>{{ book.pages }} pages</p>
        <p>{{ book.genders }}</p>
    </div>
</div>

<p>{{ book.description }}</p>

<p>ISBN : {{ book.isbn }}</p>

<!-- Loan form -->
<div class="card bg-light p-3">
    <form class="form-loan" 
    (ngSubmit)="onSubmit(loanForm)" 
    #loanForm="ngForm">
        <div class="form-group">
            <div class="form-group card-header d-flex justify-content-between align-items-center">
                <legend>Informations prêt</legend>
                <h6 *ngIf="book.onLoan" class="text-danger">Indisponible</h6>
                <h6 *ngIf="!book.onLoan" class="text-success">Disponible</h6>
            </div>
            
            <fieldset class="card-body">

                <div class="form-group row">
                    <label 
                    for="who" 
                    class="col-sm-2 col-form-label">
                        Empreinteur<span class="text-danger">*</span>
                    </label>

                    <div class="col-sm-10">
                        <input 
                        type="text" 
                        class="form-control" 
                        id="who" 
                        name="who" 
                        ngModel 
                        [disabled]="book.onLoan" 
                        value="{{ book.loanDetails.who }}"
                        required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="the_date" 
                    class="col-sm-2 col-form-label">
                        Date d'emprunt<span class="text-danger">*</span>
                    </label>
                    
                    <div class="col-sm-10">
                        <input 
                        type="date" 
                        class="form-control mb-3" 
                        id="the_date" 
                        name="the_date" 
                        ngModel [disabled]="book.onLoan" 
                        value="{{ book.loanDetails.the_date }}"
                        required>
                    </div>
                </div>
                <div class="form-group row">

                    <label for="comment" 
                        class="col-sm-2 col-form-label">Commentaire
                    </label>

                    <div class="col-sm-10">
                        <textarea 
                        type="text" 
                        class="form-control mb-3" 
                        id="comment" 
                        name="comment" 
                        ngModel 
                        [disabled]="book.onLoan" 
                        value="{{ book.loanDetails.comment }}">
                        </textarea>
                    </div>
                </div>

                <button 
                class="btn btn-primary" 
                type="submit" 
                [disabled]="loanForm.invalid"
                *ngIf="!book.onLoan">Mettre en prêt
                </button>

                <button 
                class="btn btn-danger" 
                type="submit" 
                *ngIf="book.onLoan">Retour de prêt
                </button>

            </fieldset>
        </div>
    </form>
</div>  